# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
build/
.npm

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specifics
data/tep/
dashboard/dist/
clasp.db
settings.json
secrets.json
.clasp/
